<!-- modified by Andrew Jong 04.01.2023 to add robot_name arg -->
<launch> 
    <!-- ===== ARGUMENTS ===== -->
    <arg name="robot_name" default="drone_1"/>

<!-- AirSim ROS Wrapper -->
	<include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/>
<!-- Vehicle Dynamic Constraints -->
	<include file="$(find airsim_ros_pkgs)/launch/dynamic_constraints.launch"/>
<!-- Simple PID Position Controller -->
	<include file="$(find airsim_ros_pkgs)/launch/position_controller_simple.launch"/>

	<param name="vehicle_name" value="$(arg robot_name)"/>
</launch>
